#labs-list {
	margin-right: 20%;
	margin-left: 20%;
}

.list-description-lab {
	font-size: 0.875em;
}

.list-title-lab {
	font-size: 1.2em;
}

#floating-button{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #008CFF;
  position: fixed;
  bottom: 100px;
  right: 100px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 75px;
  font-size: 50px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

.lab-img {
  width: 250px;
  height: 250px;
}

.plus2{
  font-size: 20px;
}

.dropdownMembros {
  width: 80%;
  margin-left: 10%;
}