{% extends 'base.html' %}
{% block title %}Laboratórios{% endblock %}
{% block content %}
  <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create">
    <p class="plus">+</p>
  </div>

	<ul class="list-group" id="labs-list">
		<li class="list-group-item">
			<div class="row">
				<div class="col-4 text-center list-title-lab">Titulo</div>
				<div class="col-5 list-description-lab">Pequeena descrição, como bio</div>
				<div class="col-3"><button type="button" class="btn btn-outline-secondary">editar</button> <button type="button" class="btn btn-outline-danger">excluir</button>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-4 text-center list-title-lab">Titulo</div>
				<div class="col-5 list-description-lab">Pequeena descrição, como bio</div>
				<div class="col-3"><button type="button" class="btn btn-outline-secondary">editar</button> <button type="button" class="btn btn-outline-danger">excluir</button>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-4 text-center list-title-lab">Titulo</div>
				<div class="col-5 list-description-lab">Pequeena descrição, como bio</div>
				<div class="col-3"><button type="button" class="btn btn-outline-secondary">editar</button> <button type="button" class="btn btn-outline-danger">excluir</button>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-4 text-center list-title-lab">Titulo</div>
				<div class="col-5 list-description-lab">Pequeena descrição, como bio</div>
				<div class="col-3"><button type="button" class="btn btn-outline-secondary">editar</button> <button type="button" class="btn btn-outline-danger">excluir</button>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-4 text-center list-title-lab">Titulo</div>
				<div class="col-5 list-description-lab">Pequeena descrição, como bio</div>
				<div class="col-3"><button type="button" class="btn btn-outline-secondary">editar</button> <button type="button" class="btn btn-outline-danger">excluir</button>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-4 text-center list-title-lab">Titulo</div>
				<div class="col-5 list-description-lab">Pequeena descrição, como bio</div>
				<div class="col-3"><button type="button" class="btn btn-outline-secondary">editar</button> <button type="button" class="btn btn-outline-danger">excluir</button>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-4 text-center list-title-lab">Titulo</div>
				<div class="col-5 list-description-lab">Pequeena descrição, como bio</div>
				<div class="col-3"><button type="button" class="btn btn-outline-secondary">editar</button> <button type="button" class="btn btn-outline-danger">excluir</button>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-4 text-center list-title-lab">Titulo</div>
				<div class="col-5 list-description-lab">Pequeena descrição, como bio</div>
				<div class="col-3"><button type="button" class="btn btn-outline-secondary">editar</button> <button type="button" class="btn btn-outline-danger">excluir</button>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-4 text-center list-title-lab">Titulo</div>
				<div class="col-5 list-description-lab">Pequeena descrição, como bio</div>
				<div class="col-3"><button type="button" class="btn btn-outline-secondary">editar</button> <button type="button" class="btn btn-outline-danger">excluir</button>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-4 text-center list-title-lab">Titulo</div>
				<div class="col-5 list-description-lab">Pequeena descrição, como bio</div>
				<div class="col-3"><button type="button" class="btn btn-outline-secondary">editar</button> <button type="button" class="btn btn-outline-danger">excluir</button>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-4 text-center list-title-lab">Titulo</div>
				<div class="col-5 list-description-lab">Pequeena descrição, como bio</div>
				<div class="col-3"><button type="button" class="btn btn-outline-secondary">editar</button> <button type="button" class="btn btn-outline-danger">excluir</button>
				</div>
			</div>
		</li>
	</ul>
{% endblock %}
